*{
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/Spiderman\ and\ Miles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.general {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    overflow: hidden;
    overscroll-behavior: hidden;
}

.navigation {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    line-height: 100px;
    z-index: 100;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    padding-bottom: 15px;
    margin: 0 25px;
    color: white;
}

.link:hover {
    border-bottom: 2px solid white;
}

.link-button .button {
    cursor: pointer;
    width: 140px;
    height: 45px;
    background: transparent;
    color: white;
    border: none;
}

.link-button .button:hover {
    transition: 0.7s ease;
    color: red;
}

.title {
    color: white;
    font-size: 30px;
}

.Menu-button {
    color: white;
}






.Logo-Marvel {
    position: relative;
    width: 450px;
    height: 225px;
    right: 480px;
    top: -50px;
    
}


