*{
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/Spiderman\ and\ Miles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.general {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    overflow: hidden;
    overscroll-behavior: hidden;
}

.navigation {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    line-height: 100px;
    z-index: 100;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    padding-bottom: 15px;
    margin: 0 25px;
    color: white;
}

.link:hover {
    border-bottom: 2px solid white;
}

.link-button .button {
    cursor: pointer;
    width: 140px;
    height: 45px;
    background: transparent;
    color: white;
    border: none;
}

.link-button .button:hover {
    transition: 0.7s ease;
    color: red;
}

.title {
    color: white;
    font-size: 30px;
}

.Menu-button {
    color: white;
}






.Logo-Marvel {
    position: absolute;
    width: 450px;
    height: 225px;
    right: 1080px;
    top: 200px;
    
}

.Temp-div {
    width: 430px;
    height: 60px;
    position: relative; 
    top: 180px;
    right: 510px;
    display: flex;
    column-gap: 20px;
    

}

.Temp-button {
    width: 400px;
    height: 45px;
    border: none;
    background-color: rgb(231, 0, 0);
    color: white;
    cursor: pointer;
    border-bottom: 3px solid white;
    transition: 0.4s all;
    font-size: medium;
    transform: skew(-10deg);
}

.Temp-button1 {
    width: 400px;
    height: 45px;
    border-color: red;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: 0.4s all;
    font-size: medium;
    transform: skew(-10deg);
}

.Temp-button:hover {
    background-color: rgb(14, 14, 14);
}

.Temp-button1:hover {
    background-color: rgb(14, 14, 14);
}

.watch-text {
    height: 50px;
    width: 500px;
    font-size: 8px;
    color: white;
    position: absolute;
    top: 430px;
    right: 1030px;
}


